.wcu{
    color: white;
  
}
.bgg{
    background-color:black;
}
.ocd{
    color: white;
  
}
.qwe{
    color: white;
  
}
.logoh{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:30px
}
.gff{
    color:#0076f3;
    font-size: 21px;
    padding-right:45px;
}